.error-indicator {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #d6b3bb;
}

.error-indicator img {
    margin-bottom: 1rem;
}

.error-indicator .boom {
    font-size: 1.5rem;
}